.light_blue_backgound { background: dodgerblue ;}
.light_gray_background { background: #DCDCDC; }
.gray_background {background: dimgray ;}
.title {  font-size: 45px;
	     font-family: arial ;
	     font-weight: lighter;
	     text-align : center;}