.light_blue_background {
    background: dodgerblue;

}


.light_gray_background {
    background: #DCDCDC;
    width : 100% ;
    height: 650px;
    position: relative;

}

.gray_background {
    background: rgb(39, 39, 39);
    overflow: auto;
}

.title {
    font-size: 300%;
    font-family: arial;
    font-weight: lighter;
    position: relative ;
    top: 25px;
    left: 500px;
    color: white;
    line-height: 20px;
}
.sub-title { position:relative; left: 500px; line-height: 10px;}

p, dt {
    font-family: "open sans";
    font-size: 150%;
    font-weight: normal;
    font-style: italic;
}

.image {
    background-image: url("img-1/slider/custom-experience.jpg");
    height: 550px;
    background-size: cover;

}

/*.slider-button a { width: 10px; height: 13px;*/
                 /*background-color: white;*/
                 /*position: relative ;*/
                 /*left: 480px;*/
                 /*display: inline-block;*/
                 /*list-style: none;}*/

/*.slider-button a:hover {background-color: lightblue ;}*/

.background-photo {
    background-image: url("img-1/backgrounds/news-and-events-bg.jpg");

    /*background-repeat: no-repeat;*/
    background-size: cover;

}

.pink-read-box {
    box-sizing: border-box;
    width: 270px;
    height: 190px;
    padding: 25px;
    margin: 20px;
    background: rgb(250, 66, 158);
    border-radius: 15px;
    font-size: 13.5px;
    color: white;
    line-height: 6px;
    display: inline-block;
}

.pink-read-box a {
    text-decoration: none;
}

.green-read-box {
    box-sizing: border-box;
    width: 270px;
    height: 190px;
    padding: 25px;
    margin: 20px;
    background: rgb(104, 192, 56);
    border-radius: 15px;
    font-size: 13px;
    line-height: 6px;
    color: white;
    display: inline-block;
}

.green-read-box a {
    text-decoration: none;
}

.orange-read-box {
    box-sizing: border-box;
    width: 270px;
    height: 190px;
    padding: 25px;
    margin: 20px;
    background: rgb(225, 116, 20);
    border-radius: 15px;
    font-size: 13px;
    line-height: 6px;
    color: white;
    display: inline-block;
}

.orange-read-box a {
    text-decoration: none;
}

.change-color {
    display: inline-block;

}

.change-color a {
    text-decoration: none;
}

.icon-box-1 {
    width: 110px;
    height: 110px;
}

.icon-box-1 a {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("img-1/solutions/solution_icon_biz-analitics.png");
    background-repeat: no-repeat;

}

.icon-box-1 a:hover {
    background-image: url("img-1/solutions/solution_icon_biz-analitics_hover.png");
}

.icon-box-2 {
    width: 110px;
    height: 110px;
}

.icon-box-2 a {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("img-1/solutions/solution_icon_diti-cx.png");
    background-repeat: no-repeat;
}

.icon-box-2 a:hover {
    background-image: url("img-1/solutions/solution_icon_diti-cx_hover.png");
}

.icon-box-3 {
    width: 121px;
    height: 110px;
}

.icon-box-3 a {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("img-1/solutions/solution_icon_smart-money.png");
    background-repeat: no-repeat;
}

.icon-box-3 a:hover {
    background-image: url("img-1/solutions/solution_icon_smart-money_hover.png");
}

.icon-box-4 {
    width: 115px;
    height: 110px;
}

.icon-box-4 a {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("img-1/solutions/solution_icon_optimize-efficnt.png");
    background-repeat: no-repeat;
}

.icon-box-4 a:hover {
    background-image: url("img-1/solutions/solution_icon_optimize-efficnt_hover.png");
}

.icon-box-5 {
    width: 110px;
    height: 110px;
}

.icon-box-5 a {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("img-1/solutions/solution_icon_personal.png");
    background-repeat: no-repeat;
}

.icon-box-5 a:hover {
    background-image: url("img-1/solutions/solution_icon_personal_hover.png");
}

.icon-box-6 {
    width: 110px;
    height: 110px;
}

.icon-box-6 a {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("img-1/solutions/solution_icon_biz-transform.png");
    background-repeat: no-repeat;
}

.icon-box-6 a:hover {
url("img-1/solutions/solution_icon_biz-transform_hover.png")
}

.news-events {

    float: left ;

    width: 300px;
    height: 160px;
    background: white;
    opacity: 0.4;

    line-height: normal;
    margin-right: 15px;


}
/*.news-events p{ font-size: 100%;  }*/
.new-events a {text-decoration: none;}

.news-events p{font-size: 100% ; padding-left: 80px; }

.clearfix { clear: both;}

.container {
    display: inline-block;
    width: 15%;
    height: 650px;
    border: solid green 5px ;
    vertical-align: top;
}

.container p, dt, h1, h1, h3, h2, a {
    color: white;
}

.container a {
    text-decoration: none;
}
.container {position: relative ;   left: 350px;}

.container a:hover {
    text-decoration: underline;
}

.background-photo {
    width: 100%;
    height: 400px;
    background-size: contain;

}

.wrapper {

    width: 960px;
    margin: 0 auto;
}

.social-links { vertical-align: bottom;
                padding-left: 1100px ;

}

.nav-links {
    text-decoration: none;
    color: black;
}

.login {
    text-decoration: none;
    color: black;
}

.language {
    margin-left: 720px;
}

.search-button {
    margin-left: 720px;
    position: relative;
    top: 0;
    left: 0;
}

.copyright-link {
    text-decoration: none;
    color: rgb(92, 92, 92);

}

.copyright-link:hover {
    text-decoration: underline;
}

.copyright-text {
    color: rgb(92, 92, 92);
    padding-left: 320px;
}

.fa-adjust {
    font-size: 20px;
    padding: 10px;
    /*border: solid green 1.5px;*/
    /*border-radius: 50%;*/
    /*color: green;*/
}

.title-2{
    font-size: 300%;
    font-family: arial;
    font-weight: lighter;
    text-align: center;
    position: relative ;
    top: 25px ;
    color: black;
    line-height: 20px;
}
.button { position: relative ; left: 500px;}
.button {
    background: #2f95c8;
    border-radius: 10px;
    color: #eee;
    display: inline-block;
    font: italic 20px/2em sans-serif;
    padding: 0 40px 0 20px;
    text-decoration: none;
    position: relative;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-out;
}

.button:after {
    content: "\25BA";
    display: inline-block;
    font-size: 0.7em;
    position: absolute;
    right: 10px;
}

.button:hover {
    background: #3399CC;
    color: white;
}


 .social-links-1 {width: 23px ; height: 23px ; padding-left: 1100px; display: inline-block;}
 .social-links-1 a {width: 100%; height: 100%;display: block;
                      background-image: url("img-1/social/socialMenuIcon-youtube.png");
                      background-repeat: no-repeat ;
                      }
 .social-links-1 a:hover{background-image: url("img-1/social/socialMenuIcon-youtube_hover.png");}



.social-links-2 {width: 23px ; height: 23px ;display: inline-block;}
.social-links-2 a {width: 100%; height: 100%;display: block;
    background-image: url("img-1/social/socialMenuIcon-twitter.png");
    background-repeat: no-repeat ;
}
.social-links-2 a:hover{background-image: url("img-1/social/socialMenuIcon-twitter_hover.png");}



.social-links-3 {width: 23px ; height: 23px ;display: inline-block;}
.social-links-3 a {width: 100%; height: 100%; display: block;
    background-image: url("img-1/social/socialMenuIcon-linkdin.png");
    background-repeat: no-repeat ;
}
.social-links-3 a:hover{background-image: url("img-1/social/socialMenuIcon-linkdin_hover.png");}















/*.face-1 {  width: 100px; height: 100px;}*/

/*.face-1 a{  position: absolute ;*/
            /*top: 130px; left: 18px;*/
           /*width: 100%;*/
           /*height: 100%;*/
           /*display: block;*/
           /*background-image: url("img-1/success-stories/CB-JP-face.png" );*/
           /*background-repeat: no-repeat ;}*/

/*.face-1 a:hover {background-image: url("img-1/success-stories/logos_generic_2nd_side_cut_02_w108px_x_h95px.png"); }*/