*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

.slider_button { width: 20px ;
                height : 20px ;
                background-color: white;
                display: inline-block;
                border-radius: 4px;}
.slider_button:hover { background-color: #3399cc}

.row{
    max-width: 1000px;
    margin: 0 auto;

}
.row:after{
    clear: both;
    content: "";
    display: block;
}
.half,
.quarter,
.third,
.sixth,
.two-thirds,
.three-eights,
.three-quarters{
    float: left;
    padding-right: 10px;
    margin: 0;
}
.last{ padding-right: 0 ;
    
}
.half{
    width: 50%;
}
.quarter{
    width: 25%;
}
.third{
    width: 33.3333333%;
}
.sixth{
    width: 16.6666666%;
}
.two-thirds{
    width: 66.66666666%;
}
.three-eights{
    width: 37.5%;
}
.three-quarters{
    width: 75%;
}
.text-center{
    text-align: center;
}




.half:after,
.quarter:after,
.third:after,
.two-third:after,
.sixth:after{
    clear: both;
    content: " ";
    display: block;
}

/* Nav */

ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    width: 100%;
}

.nav > li {
    float: left;
    list-style: none;
    width: 25%;
    font-size: 16px;
}

.nav > li a {
    color: #333;
    background: rgba(0, 0, 0, 0.2);
    display: block;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}

.nav > li > a {
    font-weight: bold;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background: rgba(0, 0, 0, 0.3);
}

.nav > li > .mega {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav ul a {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
}

.nav ul a:hover,
.nav ul a:focus {
    color: blue;
}

.nav > li:hover > .mega {
    display: block;
}

/* clearfix for floated elements */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.headline { color: blue;
            text-decoration: underline ;
             font-weight: 200;}

.language {}



/* /Nav */


/* Slider */
#slider{
    height: 550px;
    background: url('../images/slider/custom-experience.jpg') no-repeat center center;

}
.title {
    font-size: 300%;
    font-family: arial;
    font-weight: lighter;
    position: relative ;
    top: 25px;
    color: white;
    line-height: 20px;
}
.sub-title {  line-height: 10px; color: white ;}

.read-box {
    width: 270px;
    height: 190px;

    margin: 20px;
    border-radius: 15px;
    font-size: 13.5px;
    line-height: 6px;
    display: inline-block;
    opacity: 0.7;
    transition: 3s;
}
.read-box a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: inherit;
    display: inline-block;
    padding: 25px;
}
.read-box:hover{
    opacity: 1;
}
.pink{
    background: rgb(250, 66, 158);
}
.green{
    background: rgb(104, 192, 56);
}
.orange{
    background: rgb(225, 116, 20);
}

/* /Slider */

/* Icons */
#icons{
    background-color: #2f8fbf;
    height: 350px;

}
#icons h2{
    margin-top: 0;
    /*background-color: green;*/
    color: #fff;
    padding: 30px;
}
#icons a{
    color: #fff;
    text-decoration: none;

}
.icon_01  {
    background: url('../images/solutions/solution_icon_biz-analitics.png') no-repeat center center;
    width: 143px;
    height: 63px;
    margin-bottom: 10px;
}
.icon_01:hover {
    background: url('../images/solutions/solution_icon_biz-analitics_hover.png') no-repeat center center;
}

.icon_02  {
    background: url('../images/solutions/solution_icon_diti-cx.png') no-repeat center center;
    width: 135px;
    height: 63px;
    margin-bottom: 10px;
}
.icon_02:hover {
    background: url('../images/solutions/solution_icon_diti-cx_hover.png') no-repeat center center;
}

.icon_03  {
    background: url('../images/solutions/solution_icon_smart-money.png') no-repeat center center;
    width: 142px;
    height: 63px;
    margin-bottom: 10px;
}
.icon_03:hover {
    background: url('../images/solutions/solution_icon_smart-money_hover.png') no-repeat center center;
}
.icon_04  {
    background: url('../images/solutions/solution_icon_optimize-efficnt.png') no-repeat center center;
    width: 131px;
    height: 63px;
    margin-bottom: 10px;
}
.icon_04:hover {
    background: url('../images/solutions/solution_icon_optimize-efficnt_hover.png') no-repeat center center;
}

.icon_05  {
    background: url('../images/solutions/solution_icon_personal.png') no-repeat center center;
    width: 151px;
    height: 63px;
    margin-bottom: 10px;
}
.icon_05:hover {
    background: url('../images/solutions/solution_icon_personal_hover.png') no-repeat center center;
}
.icon_06  {
    background: url('../images/solutions/solution_icon_biz-transform.png') no-repeat center center;
    width: 128px;
    height: 63px;
    margin-bottom: 10px;
}
.icon_06:hover {
    background: url('../images/solutions/solution_icon_biz-transform_hover.png') no-repeat center center;
}

.fancy-btn {
    background: #2f95c8;
    border-radius: 10px;
    color: #eee;
    display: inline-block;
    font: italic 20px/2em sans-serif;
    padding: 0 40px 0 20px;
    text-decoration: none;
    position: relative;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-out;
}

.fancy-btn:after {
    content: "\25BA";
    display: inline-block;
    font-size: 0.7em;
    position: absolute;
    right: 10px;
}

.fancy-btn:hover {
    background: #3399CC;
    color: white;
}


/* /Icons */


/* News-events */
#news-events{
    background: url('../images/backgrounds/news-and-events-bg.jpg') no-repeat center center;
    height: 455px;

}
.news-box{
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;

}
.news-box-date{
    background-color: #3399cc;
    width: 30%;
    display: inline-block;
    vertical-align: top;
}
.news-box-text{
    width: 68%;
    display: inline-block;
    vertical-align: top;
    line-height: 24px;

}
#news-events h2 {
    margin-top: 0;
    padding-top: 25px;
    color: white;
}
.white {color: #fff;}
/* /News-events */

/* success-stories */
#success-stories{
    height: 550px;

    background: url('../images/backgrounds/solutions-bg.png') repeat top left;

}
.relative{
    position: relative;
    
}

.beneath,
.above{
    position: absolute;
    top: 0;
    left: 0;
}
.beneath{
    z-index: 1;
}
.above{
    z-index: 10;
}

/*/success-stories*/

/*footer*/

footer{
    background-color: #3D3D3D;
}

footer h4,
footer dl dt a{
    color: #e1e1e1;
}
footer dl dt{
    height: 22px;
}
footer dl dt a{
    text-decoration: none;
    font-size: 14px;
}

.footer-left-box{
    background-color: #6e6e6e;
}

.footer-left-box h3{
    color: #3399CC;
}

.social-links{
    width: 23px ;
    height: 23px;
    display: inline-block;
}
.social-links a {
    width: 23px;
    height: 23px;
    display: block;
}

.youtube {
    background-image: url("../images/social/socialMenuIcon-youtube.png");
    background-repeat: no-repeat;
}
.youtube:hover{
    background-image: url("../images/social/socialMenuIcon-youtube_hover.png");
}

.twitter {
    background-image: url("../images/social/socialMenuIcon-twitter.png");
    background-repeat: no-repeat;
}
.twitter:hover{
    background-image: url("../images/social/socialMenuIcon-twitter_hover.png");
}


.linkedin {
    background-image: url("../images/social/socialMenuIcon-linkdin.png");
    background-repeat: no-repeat;
}
.linkedin:hover{
    background-image: url("../images/social/socialMenuIcon-linkdin_hover.png");
}

/*




/* /footer */



@media screen and (max-width: 640px) {
    .half, .quarter, .third, .sixth, .two-thirds {
        width: 100%;
    }

    #slider{
        height: auto;
        background-image: none;
        background-color: #B7DAF8;
    }
    #slider .title {font-size: 150%;}
    #icons {
        height: auto;
    }

}
